<div class="col-lg-12 col-md-12">
</br>
  <div class="jumbotron">
    <h1 class="display-4">Projects App</h1>
    <p class="lead">This is an app to show Projects.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>